.w3-table{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table
}

.w3-border{border:1px solid #ccc!important}
.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}